Build a regression model.

In [16]:
# note to reader: This first verision of my City Bikes project uses incomplete data. The intent is to
# show a model where the incomplete data is used and what kind of poor statistics will be returned. I 
# do intend to come back and repeat this at a later date.

In [1]:
import pandas as pd

In [2]:
df_Leipzig_bikes = pd.read_csv('Leipzig_bikes.csv')

In [3]:
df_partial = pd.read_csv('partial_bikes_df.csv')

In [4]:
df_partial.drop(axis=1,columns='Unnamed: 0.1', inplace = True)
df_partial.drop(axis=1,columns='Unnamed: 0', inplace = True)
df_partial

                          name  rating    distance
0                      Imperii     5.0  168.535367
1        Restaurant Steaktrain     4.0   41.835297
2                   Romanushof     4.0  281.778240
3          Augustiner am Markt     4.5  391.321653
4             Auerbachs Keller     4.0  504.816633
...                        ...     ...         ...
2378  Gourmet-Restaurant FALCO     7.1  558.000000
2379        Indian Curry House    -1.0  435.000000
2380           Toskana Leipzig    -1.0  443.000000
2381                India Gate     5.7  467.000000
2382                  Sole Mio    -1.0  483.000000

[2383 rows x 3 columns]

In [12]:
# df_Leipzig_bikes.head()
# df_Leipzig_bikes.drop(axis=1, columns='Unnamed: 0', inplace=True)
# df_Leipzig_bikes

In [5]:
df_partial.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2383 entries, 0 to 2382
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      2383 non-null   object
 1   rating    2383 non-null   float64
 2   distance  2383 non-null   float64
dtypes: float64(2), object(1)
memory usage: 56.0+ KB

In [6]:
df_partial.describe()

            rating     distance
count  2383.000000  2383.000000
mean      3.347167   319.337874
std       2.807700   157.502165
min      -1.000000     5.101405
25%       0.000000   209.094562
50%       4.000000   331.582588
75%       5.000000   432.000000
max       8.800000  2145.000000

In [7]:
import statsmodels.api as sm
import numpy

In [8]:
df_partial = df_partial.drop(['name'], axis=1)

In [13]:
# df_partial = df_Leipzig_bikes.drop(['name'], axis=1)

y = df_partial['rating']
x = df_partial[['rating','distance']]
x= sm.add_constant(x)

model = sm.OLS(y, x)
Results = model.fit()
print(Results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 rating   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 5.048e+30
Date:                Tue, 31 Jan 2023   Prob (F-statistic):               0.00
Time:                        12:57:57   Log-Likelihood:                 69956.
No. Observations:                2383   AIC:                        -1.399e+05
Df Residuals:                    2380   BIC:                        -1.399e+05
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -3.627e-14   2.27e-15    -15.999      0.000   -4.07e-14   -3.18e-14
rating         1.0000   3.15e-16   3.18e+15      0.000       1.000       1.000
distance   -3.948e-17   5.61e-18     -7.037      0.000   -5.05e-17   -2.85e-17
==============================================================================
Omnibus:                      395.364   Durbin-Watson:                   0.046
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2435.708
Skew:                           0.632   Prob(JB):                         0.00
Kurtosis:                       7.789   Cond. No.                         916.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Provide model output and an interpretation of the results.

In [ ]:
# To edit

# Stretch

How can you turn the regression model into a classification model?