In [1]:
# separate csv created for submitted project.

In [2]:
import pandas as pd
import requests
import os
import json
from IPython.display import JSON

In [3]:
# import CSV
# separate into usable columns

Leipzig_data = pd.read_csv("Leipzig.csv")
Leipzig_lat = Leipzig_data["latitude"]
Leipzig_long = Leipzig_data["longitude"]
Leipzig_bikes = Leipzig_data["free_bikes"]

# Foursquare

Send a request to Foursquare with a small radius (1000m) for all the bike stations in your city of choice.

In [6]:
# import the key for my foursquare authorization
api_key = os.environ["FOURSQUARE_API_KEY"]

In [7]:
# Set up parameters according to some specifications of foursquare.
# There is an issue with how foursquare calls parameters, so instead of setting

# check for average rating, number of returns of specified categories - restauarants/ bars

fields = 'name,categories,rating,features,distance'
data_location = []

for data in range(len(Leipzig_lat)):
    url = f"https://api.foursquare.com/v3/places/search?query=restaurant&ll={Leipzig_lat[data]},{Leipzig_long[data]}&categories=13065&fields={fields}&radius=500&limit=50"

    headers = {
        "accept": "application/json",
        "Authorization": api_key
    }

    response = requests.get(url, headers=headers).json()
    data_location.append(response)
# location_data   # print used to verify a usable response

In [37]:
# station_count = 0
# average_rating = []

# for results_list in data_location:
#     print(len(results_list['results']))
# for results_list in data_location: # each list of restuarants for given location 
#     if len(results_list['results']) != 0:     # checking for restaurants if they exist in list restaurants
#         for restaurants_name in results_list['results']:     #  if restaurant exists, iterate over list of restaurants
#             print(

In [38]:
# len(data_location[]['results'])

In [222]:
restaurant_rating = []
restaurant_distance = []

restaurant_name = []
for results_list in data_location: # each list of restuarants for given location 
    if len(results_list['results']) != 0:     # checking for restaurants if they exist in list restaurants
        for restaurants_results in results_list['results']:     #  if restaurant exists, iterate over list of restaurants
            restaurant_rating.append(restaurants_results.get('rating',-1))
            restaurant_name.append(restaurants_results.get('name','missing_name'))
            restaurant_distance.append(restaurants_results.get('distance',-10))
        
df_foursquare = pd.DataFrame([restaurant_name, restaurant_rating, restaurant_distance]).T
df_foursquare.columns = ['name','rating','distance']
df_foursquare.to_csv('Leipzig_restuarant_FS.csv')

                          name rating distance
0               Bagel Brothers    8.0       98
1                      Imperii    8.4      170
2                Goldene Kugel    6.2      111
3                     Planerts    7.4      210
4                       Yasumi    7.3      216
...                        ...    ...      ...
1028  Gourmet-Restaurant FALCO    7.1      558
1029        Indian Curry House     -1      435
1030           Toskana Leipzig     -1      443
1031                India Gate    5.7      467
1032                  Sole Mio     -1      483

[1033 rows x 3 columns]

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

Put your parsed results into a DataFrame

# Yelp

Send a request to Yelp with a small radius (1000m) for all the bike stations in your city of choice.

In [6]:
Yelp_API_Key = os.environ["Yelp_API_Key"]

In [7]:
Yelp_location_data = []


for data in range(len(Leipzig_lat)):
    url = f"https://api.yelp.com/v3/businesses/search?latitude={Leipzig_lat[data]}&longitude={Leipzig_long[data]}&term=restaurant&radius=500&sort_by=best_match&limit=50"

    headers = {
        'Authorization' : Yelp_API_Key,
        'accept' : 'application/json'
        }
    response = requests.get(url, headers=headers).json()
    Yelp_location_data.append(response)

In [219]:
# Yelp_location_data[0]['businesses'][0]

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

In [213]:
Yelp_name = []
Yelp_rating = []
Yelp_distance = []

Yelp_location_data

for results_list in Yelp_location_data: # each list of restuarants for given location 
    if len(results_list['businesses']) != 0:     # checking for restaurants if they exist in list restaurants
        for restaurants_results in results_list['businesses']:     #  if restaurant exists, iterate over list of restaurants
            Yelp_rating.append(restaurants_results.get('rating',-1))
            Yelp_name.append(restaurants_results.get('name','missing_name'))
            Yelp_distance.append(restaurants_results.get('distance',-10))
    
df_Yelp = pd.DataFrame([Yelp_name, Yelp_rating, Yelp_distance]).T
df_Yelp.columns = ['name','rating','distance']
df_Yelp.to_csv('Leipzig_restuarant_Yelp.csv')

Put your parsed results into a DataFrame

# Comparing Results

Which API provided you with more complete data? Provide an explanation.

Going through what was available from both the Foursquare and the Yelp API, 
Foursquare had mulitple categories for rating, by both a popularity and a rating scale.
Many of the restaurants that the list came up with had multiple geotags for both the main restuarant
and if there was roof top seating, that was listed too.

Foursquare also provided which hours were more popular than other, and included features of the restaurants, as an example whether or not it was wheelchair accessible.
While Yelp had less available in their search, the API also took much longer to return information.
Yelp also listed the physical addresses of the restaurants that I looked up, while foursquare did not.

From attempting to answer the question below, many of the restuarants returned from Foursquare did not have a rating in their category listing.

Get the top 10 restaurants according to their rating

In [215]:
df_Yelp.sort_values('rating', ascending=False).head(10)

                            name rating    distance
0                        Imperii    5.0  168.535367
957                   Star Pizza    5.0  238.339266
946                   Star Pizza    5.0  346.329103
388                   Opern Cafe    5.0   113.98194
386                      Max Enk    5.0  220.106197
949                    Gustav H.    5.0  455.734138
381                      Imperii    5.0  352.668174
951  Chizenga Afrikanisches Haus    5.0   96.871352
954        KulturcafÃ© Knicklicht    5.0  296.341717
955                Reudnitzgrill    5.0  423.388709

In [218]:
df_foursquare.sort_values('rating', ascending=False).head(10)

                             name rating distance
781            Espresso Zack Zack    8.8      391
351            Espresso Zack Zack    8.8      150
751            Bohemian Kids Cafe    8.7      394
213            Bohemian Kids Cafe    8.7      263
299            Bohemian Kids Cafe    8.7      211
960            Bohemian Kids Cafe    8.7      243
956  Ratskeller der Stadt Leipzig    8.6      101
210  Ratskeller der Stadt Leipzig    8.6      112
673  Ratskeller der Stadt Leipzig    8.6      562
305                       Imperii    8.4      351